# Required
BRUNATA_EMAIL=your.email@example.com
BRUNATA_PASSWORD=your_password

# Optional
BRUNATA_ENERGY_TYPES=Heizung,Kaltwasser,Warmwasser
BRUNATA_LOGIN_URL=https://nutzerportal.brunata-muenchen.de/np_anmeldung/index.html?sap-language=DE
BRUNATA_HEADLESS=true
BRUNATA_PLAYWRIGHT_TIMEOUT_MS=30000
BRUNATA_TIMEOUT_BEFORE_LOGIN_MS=1000
BRUNATA_TIMEOUT_AFTER_LOGIN_MS=2000
BRUNATA_TIMEOUT_BETWEEN_CLICKS_MS=2000